.DiceApp {
    text-align: center;
    margin: auto;
  
    background-color: #0B2434;
  
    width: 360px;
    height: 380px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gameContainer{
  
    border-radius: 5px;
  
    height: 320px;
    width: 320px;
    background-color: #F5F5F5;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  
  }
  
  .diceContainer{
  margin-top: 5px;
  
    display: flex;
    flex-wrap: wrap;
  
  }
  

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  button{
    font: 'Karla';
    font-style: bold;
    font-weight: 700;
    border-radius: 4px;
    background-color:rgb(80, 53, 255);
    color: white;
    width: 92px;
    height: 36px;
  }